/* ========================= categorizedSortable table ========================= */
tr.categoryJobRow {
  background-color: var(--table-background) !important;
  font-weight: bold;
  cursor: pointer;
}

tr.childJobRow > td {
  padding-left: 4em !important;
}

tr.childJobRow > td:first-of-type {
  visibility: hidden;
}

tr.childJobRow > td:nth-of-type(2) {
  border-bottom-left-radius: var(--table-row-border-radius);
  border-top-left-radius: var(--table-row-border-radius);
}
