/* ========================= categorizedSortable table ========================= */
tr.categoryJobRow {
  background-color: var(--table-background) !important;
  font-weight: bold;
  cursor: pointer;
}

.jenkins-table > tbody > tr > td.categoryJobsColumn {
  padding-left: 2em; 
  padding-top: 0; 
  padding-bottom: 0;
}

td.categoryJobsColumn > div.dashboard > table > tbody > tr {
  border-bottom: 0;
}

td.categoryJobsColumn > div.dashboard > table > tbody > tr > td {
  font-weight: 500;
  border-bottom: 0;
}

td.categoryJobsColumn > div.dashboard > table > tbody > tr:first-child > td {
  border-top: 0;
}

td.categoryJobsColumn > div.dashboard > table > tbody > tr > td {
  border-top: 2px solid var(--table-background);
}

