/* ========================= categorizedSortable table ========================= */
tr.categoryJobRow {
  background-color: var(--table-background) !important;
  font-weight: bold;
  cursor: pointer;
}

tr.childJobRow > td {
  font-weight: 500;
  padding-left: 4em !important;
}
